<p style="color: green">

<%= render @membership %>

<div>
  <%= link_to "Edit this membership", edit_membership_path(@membership), class: "btn btn-primary btn-sm" %>
  <%= link_to "Back to memberships", memberships_path, class: "btn btn-primary btn-sm" %>
   <br><br>
  <%= button_to "Destroy this membership", @membership, method: :delete, class: "btn btn-danger btn-sm" %>
</div>
