<div id="<%= dom_id beer_club %>">
  <p>
    <h4><%=beer_club.name %></h4>
  </p>
  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>
  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
</div>
