<%= form_with(model: beer_club) do |form| %>
  <% if beer_club.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(beer_club.errors.count, "error") %> prohibited this beer_club from being saved:</h2>

      <ul>
        <% beer_club.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="bcn" name="beer_club[name]">
  </div>

  <div class="mb-3">
    <label for="founded" class="form-label">Founded</label>
    <input type="text" class="form-control" id="bcf" name="beer_club[founded]">
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City</label>
    <input type="text" class="form-control" id="bcc" name="beer_club[city]">
  </div>
   <button type="submit" class="btn btn-primary btn-sm">Submit</button>
</form>
<% end %>
