<p style="color: green">

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user, class: "btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: "btn btn-primary btn-sm" %>
