<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer</th>
      <th>Brewery</th>
      <th>Score</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  <tbody class="table-group-divider">
        <% Rating.recent.each do |rating| %>
          <tr>
            <td><%= rating.beer.name %> </td>
            <td><%= rating.beer.brewery.name %></td>
            <td> <%= rating.score %></td>
            <td> <%= rating.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
