<p style="color: green">
<h1>List of styles</h1>
<div>
  <% @styles.each do |style| %>
    <%= render style %>
    <p>
      <%= link_to "Show this style", style, class: "btn btn-outline-primary btn-sm" %>
    </p>
  <% end %>
</div>
<p>
  <%= link_to "New style", new_style_path, class: "btn btn-primary btn-sm" %>
</p>
