<table class="table table-hover">
  <thead>
    <tr>
      <th>Brewery</th>
      <th>Average</th>
    </tr>
  </thead>
  <tbody>
  <tbody class="table-group-divider">
    <% @top_breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= round(brewery.average_rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
